* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
#prod-overview {
	background: rgb(243, 16, 16);
	padding: 20px;
	width: 700px;
	height: 570px;
}

.section-title {
	color: aqua;
}
#prod-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
}
h1 {
	font-family: sans-serif;
}

.main-header {
	padding: 8px 16px;
	width: 100%;
	background-color: green;
}
.main-header > div {
	display: inline-block;
}
.main-nav {
	display: inline-block;
	text-align: right;
	width: calc(100% - 55px);
}
.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
}
