#prod-overview {
	background: linear-gradient(to top, rgba(80, 0, 0, 0.6) 10%, transparent),
		url('./images/freedom.jpg') left 10% bottom 80% / cover no-repeat border-box,
		yellow;

	/* background-size: cover;
	background-position: left 10% bottom 10%;
	background-repeat: no-repeat;
	background-origin: border-box;
	background-clip: padding-box;
	background-attachment: local; */
	/* background-image: linear-gradient(to left bottom, black, transparent); */
	/* background-image: radial-gradient(red 40%, black); */
	padding: 10px;
	vertical-align: top;
	height: 50vh;
	margin-top: 2.75rem;
	width: 100vw;
	position: relative;
}

#prod-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
	position: absolute;
	bottom: 20%;
	left: 3%;
	font-size: 1.6rem;
}

@media (min-width: 40rem) {
	#prod-overview {
		height: 60vh;
		background-position: 50% 10%;
	}
	#prod-overview h1 {
		font-size: 2rem;
	}
}
.plan__list {
	margin: auto;
	width: 80%;
	text-align: center;
}
.section-title {
	color: green;
	text-align: center;
}
.plan {
	background: #d5ffdc;
	text-align: center;
	padding: 16px;
	margin: 8px;
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.plan__annotation {
	padding: 8px;
	background: white;
	color: green;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.7);
	border-radius: 8px;
}
.plan--highlighted {
	background: #19b84c;
	color: white;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__title {
	color: #0e4f1f;
}
.plan__price {
	color: #858585;
}
.plan--highlighted .plan__title {
	color: white;
}
.plan--highlighted .plan__price {
	color: #0e4f1f;
}

.plan li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.plan__features {
	list-style: none;
	padding: 0;
	margin: 0;
}
.plan__features li {
	margin: 8px 0;
}

/* h1 {
	font-family: sans-serif;
} */

.core-features {
	background: #ff1b68;
	margin-top: 80px;
	padding: 12px;
}
.core-features > .section-title {
	color: white;
	margin: 32px;
}

.core-features__list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
.core-feature {
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.core-feature__image {
	height: 128px;
	width: 128px;
	border: 2px solid #424242;
	border-radius: 50%;
	background: #ffcede;
	margin: auto;
	padding: 20px;
	vertical-align: middle;
}

.core-features__description {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 20px;
}
.modal {
	position: fixed;
	display: none;
	z-index: 200;
	top: 20%;
	left: 30%;
	width: 40%;
	background: white;
	padding: 1rem;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
	text-align: center;
	margin: 0 0 1rem 0;
}

.modal__actions {
	text-align: center;
}

.modal__action {
	border: 1px solid #0e4f1f;
	background: #0e4f1f;
	text-decoration: none;
	color: white;
	font: inherit;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
	background: #2ddf5c;
	border-color: #2ddf5c;
}

.modal__action--negative {
	background: red;
	border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
	background: #ff5454;
	border-color: #ff5454;
}
